html,
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--blanco);
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

.navbar {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--Darkblue);
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle-icon {
    width: 25px;
    height: 3px;
    background-color: var(--carbón);
    margin: 4px 0;
}

.navbar-menu {
    width: 50%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-left: 0px;
}

.navbar-link {
    text-decoration: none;
    color: var(--carbón);
    font-size: 1em;
}

.boton {
    text-decoration: none;
    font-size: 1em;
    background-color: var(--Darkblue);
    color: var(--blanco);
    padding: 0.5em 1em;
}

.separador-derecha {
    margin-right: 30px;
}

.container {


    display: flex;
    justify-content: space-between;

    margin: 50px auto;
}

.left-container,
.right-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-container {
    align-items: start;
    text-align: left;
}

.right-container {
    position: relative;
}

.right-container .main-image {
    position: absolute;
    width: 100%;

}

.right-container .main-image img {
    width: 100%;
    height: auto;
    max-width: 570px;
    max-height: 637px;
}

.right-container .small-images {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.right-container .small-images img:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 33%;
    height: auto;
    margin: 5px;
}

.right-container .small-images img:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 33%;
    height: auto;
    margin: 5px;
}

.logo-carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}

.logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 10px;
}

.logo-container img {
    max-height: 96px;
    max-width: 100px;
    object-fit: contain;
    margin: 0 10px;
    filter: grayscale(100%) brightness(0.5);
    color: var(--gris);
}

.card-container {
    width: 100%;
    padding: 40px 0;
    text-align: left;
}

.card-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.wrapper-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    /* Mantener las cards en una fila */
}

.wrapper-cards,
.services-cards {
    flex-wrap: wrap;
    /* Permitir que las cards se dispongan en una columna en pantallas más pequeñas */
}

.wrapper-cards .card,
.services-cards .service-card {
    width: 30%;
    /* Ajustar el ancho para que quepan tres cards por fila en pantallas medianas */
    margin-bottom: 20px;
}

.card {
    background-color: var(--blanco);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: left;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    font-size: 1em;
    margin: 15px;
}

.card p {
    font-size: 1em;
    margin: 0 15px 15px;
    color: var(--gris);
}

.card .learn-more {
    display: block;
    margin: 0 15px 15px;
    color: var(--Darkblue);
    text-decoration: none;
    font-weight: bold;
}

.testimonials-container {
    background-color: var(--Darkblue);
    color: var(--blanco);
    padding: 60px 20px;
    position: relative;
    text-align: center;
}

.testimonial-content {
    max-width: 800px;
    margin: 0 auto;
}

.testimonial-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.testimonial-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: var(--amarillo);
}

.testimonial-author {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.testimonial-author img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.memoji {
    position: absolute;
    width: 100px;
    height: auto;
}

.memoji-1 {
    top: 20px;
    left: 20px;
}

.memoji-2 {
    top: 20px;
    right: 20px;
}

.memoji-3 {
    bottom: 20px;
    left: 20px;
}

.memoji-4 {
    bottom: 20px;
    right: 20px;
}

.services-container {
    display: flex;
    width: 100%;
    padding: 40px 0;
    text-align: center;
    background-color: var(--blancoRoto);
}

.services-container h2 {
    font-size: 2em;
    margin: 20px;
}

.services-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
    /* Mantener las cards en una fila */
}

.service-card {
    background-color: var(--blanco);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 30%;
    text-align: left;

    position: relative;
}

.service-icon {

    margin: 15px 15px 0px 15px;
    width: 40px;
    height: 40px;
}

.service-card h3 {
    font-size: 1em;
    margin: 15px;
}

.service-card p {
    font-size: 1em;
    margin: 0 15px 15px;
    color: var(--gris);
}

.service-card .learn-more {
    display: block;
    margin: 0 15px 15px;
    color: var(--Darkblue);
    text-decoration: none;
    font-weight: bold;
}

.subscribe-container {
    background-color: var(--amarillo);
    color: var(--carbón);
    padding: 40px 20px;
    text-align: center;
}


.subscribe-container h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.subscribe-container p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.subscribe-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.email-input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.email-icon {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
}

.email-input-container input[type="email"] {
    padding-left: 40px;
    /* Espacio para la imagen */
    font-size: 1em;
    border: 1px solid var(--carbón);
    border-radius: 5px;
    width: 300px;
}

.subscribe-container button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: var(--Darkblue);
    color: var(--blanco);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.subscribe-container button:hover {
    background-color: var(--Celete);
}


@media (max-width: 1440px) {



    .footer {
        background-color: var(--blancoRoto);
        color: var(--carbón);
        padding: 40px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer-logo {
        flex: 1;
        min-width: 200px;
    }

    .footer-logo h2 {
        font-size: 1.5em;
        color: var(--Darkblue);
    }

    .footer-logo p {
        font-size: 1em;
        color: var(--gris);
    }

    .footer-links {
        display: flex;
        flex: 2;
        justify-content: space-around;
        min-width: 200px;
    }

    .footer-links ul {
        list-style: none;
        padding: 0;
    }

    .footer-links ul li {
        margin-bottom: 10px;
    }

    .footer-links ul li a {
        text-decoration: none;
        color: var(--carbón);
        font-size: 1em;
    }

    .footer-links ul li a:hover {
        color: var(--Darkblue);
    }
}

@media (max-width: 1024px) {

    .projects-cards,
    .services-cards {
        flex-wrap: wrap;
        /* Permitir que las cards se dispongan en una columna en pantallas más pequeñas */
    }

    .projects-cards .card,
    .services-cards .service-card {
        width: 45%;
        /* Ajustar el ancho para que quepan dos cards por fila en pantallas medianas */
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .left-container,
    .right-container {
        width: 100%;
        height: auto;
    }

    .navbar-toggle {
        display: flex;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-item {
        margin: 0;
        text-align: center;
        padding: 1em 0;
    }

    .right-container .main-image img {
        width: 100%;
        height: auto;
    }

    .logo-carousel {
        display: none;
    }

    .projects-cards,
    .services-cards {
        flex-direction: column;
        align-items: center;
    }

    .projects-cards .card,
    .services-cards .service-card {
        width: 90%;
        margin-bottom: 20px;
    }

    @media (max-width: 768px) {
        .subscribe-container form {
            flex-direction: column;
            gap: 10px;
        }

        .subscribe-container input[type="email"] {
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        .footer {
            flex-direction: column;
            text-align: center;
        }

        .footer-logo,
        .footer-links {
            margin-bottom: 20px;
        }

        .footer-links {
            flex-direction: column;
        }

        .footer-links ul {
            margin-bottom: 20px;
        }
    }
}