html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 10px;
    line-height: 3.5em;
}

:root {
    --Darkblue: #072AC8;
    --Celete: #43D2FF;
    --azul: #A2D6F9;
    --azulClaro: #D1EDFF;
    --carbón: #292E47;
    --gris: #6B708D;
    --blanco: #F2F4FC;
    --blancoRoto: #ECF7FF;
    --amarillo: #FFC600;
}

button {
    background-color: var(--Darkblue);
}

button.contact {
    width: 150px;
}