html,
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--blanco);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--Darkblue);
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle-icon {
    width: 25px;
    height: 3px;
    background-color: var(--carbón);
    margin: 4px 0;
}

.navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-left: 1em;
}

.navbar-link {
    text-decoration: none;
    color: var(--carbón);
    font-size: 1em;
}

.navbar-link-contact {
    background-color: var(--Darkblue);
    color: var(--blanco);
    padding: 0.5em 1em;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .navbar-toggle {
        display: flex;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-item {
        margin: 0;
        text-align: center;
        padding: 1em 0;
    }
}