:root {
    --Darkblue: #072AC8;
    --Celete: #43D2FF;
    --azul: #A2D6F9;
    --azulClaro: #D1EDFF;
    --carbón: #292E47;
    --gris: #6B708D;
    --blanco: #F2F4FC;
    --blancoRoto: #ECF7FF;
    --amarillo: #FFC600;
    --blancoFondo: #F4F6FC;
    --grisForm: #E6E9F1;
    ;
}